MvcApp/Service References/TestServiceReference/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58839/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts" />
  <xs:import schemaLocation="http://localhost:58839/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="user" nillable="true" type="q1:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q2:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="userRequest" nillable="true" type="q3:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="role" nillable="true" type="q4:role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="year" nillable="true" type="q5:academicYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddYearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="year" nillable="true" type="q6:academicYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateYearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="year" nillable="true" type="q7:academicYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteYearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="branchId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetCurrentYearResult" nillable="true" type="q9:academicYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcademicYearsByBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="branchId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcademicYearsByBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetAcademicYearsByBranchResult" nillable="true" type="q11:ArrayOfacademicYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcademicYearsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcademicYearsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetAcademicYearsByUserResult" nillable="true" type="q13:ArrayOfacademicYear" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="branch" nillable="true" type="q14:branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBranchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="branchID" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="branchID" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetBranchResult" nillable="true" type="q17:branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBranches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetAllBranchesResult" nillable="true" type="q19:ArrayOfbranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="program" nillable="true" type="q20:program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="program" nillable="true" type="q21:program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="program" nillable="true" type="q22:program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="programId" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetProgramResult" nillable="true" type="q24:program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="branchId" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetProgramsByBranchResult" nillable="true" type="q26:ArrayOfprogram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="yearId" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetProgramsByYearResult" nillable="true" type="q28:ArrayOfprogram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByBranchAndYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="branchId" type="q29:guid" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="yearId" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByBranchAndYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetProgramsByBranchAndYearResult" nillable="true" type="q31:ArrayOfprogram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByAdminID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="adminId" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByAdminIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetProgramsByAdminIDResult" nillable="true" type="q33:ArrayOfprogram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>